.pag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}

.pag-menu > ul > li > button,
.pag-menu > ul > li > div {
  color: #fff;
  font-size: 18px;
}

.pag-menu
  > ul
  > li
  > .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #373b69;
}
